<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="test.View" id="view" />
	<bean class="test.Model" id="model">
		<property name="datas">
			<list>
				<value>샘플 데이터</value>
			</list>
		</property>
	</bean>
	<bean class="test.Controller" id="app">
		<constructor-arg name="view" ref="view"></constructor-arg>
		<constructor-arg name="model" ref="model"></constructor-arg>
	</bean>

</beans>
